#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  line-height: 1.1;
}

#fun-fact {
  margin: 10px 0px;
  background-color: rgb(202, 232, 241);
}

#fun-fact:hover {
  background-color: lightblue;
}

.fun-fact-hide {
  background-color: rgb(228, 228, 228);
  margin-left: 10px;
  opacity: 0;
  transform: translate(-10px, 0);
  transition: all 1s;
}

.fun-fact-hide:hover {
  background-color: lightgray;
}

.fact-container {
  opacity: 0;
  transform: translate(0, -10px);
  transition: all 1s;
}

.fade-in-fact-container {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-in-fun-fact-hide {
  opacity: 1;
  transform: translate(0, 0);
}

button {
  border: none;
  padding: 7.5px;
}

button:hover {
  cursor: pointer;
}

p {
  line-height: 1.4;
}

a {
  color: #0645AD;
  text-decoration: underline;
}

#profile-links {
  margin: 10px 0px;
}

.profile-link {
  padding-right: 7.5px;
}

.project {
  margin: 10px 0px;
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 1s;
}

.fade-in-project {
  opacity: 1;
  transform: translate(0, 0);
}

ol {
  line-height: 1.4;
}

.gallery-container {
  display: flex;
}

.gallery-image-container {
  flex-basis: 30%;
  margin: 0px 10px;
}

.gallery-image {
  width: 100%;
}
