#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  line-height: 1.1;
}

p {
    line-height: 1.4;
}

a {
    color: #0645AD;
    text-decoration: underline;
}

#profile-links {
    margin: 10px 0px;
}

.profile-link {
    padding-right: 7.5px;
}

.project {
    margin: 10px 0px;
}